body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e20;
  background-image: url("https://images.pexels.com/photos/773953/pexels-photo-773953.jpeg ");
overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: inline-block;
  width: 650px;
  height: 600px;
  background-color: #1e1e20;
  padding: 40px;
  margin-top: 5%;
  border-radius: 60px;
  color: #e5e5e5;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#e5e5e5;
  margin-bottom: 10px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 2px solid #e5e5e5;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  padding-left: 50px;
  outline: none;
  font-size: 18px;
}

.up {
  display: inline;
  text-align: center;

  font-size: 30px;
}

.bottom {
 display: flex;
 

  justify-content: space-between;
  padding: 20px;
  height: 100px;
  width: 500px;
  font-size: 20px;
}
span {
  opacity: 0.5;
  font-weight: 700;
  font-size: 20px;
  
  
  
}

.empty {
  display: inline;
  margin-top: 25%;
}

.about{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}