

* {
  margin: 0;
  padding: 0;
}

body {

font-family: 'Chakra Petch', sans-serif;

  background-color: #ffffff;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #e5e5e5;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.side {
  width: 360px;
  background-color: #003344;
  padding: 30px;
}

.country {
  display: flex;
  padding-bottom: 10px;
}

input {
  border: 2px solid #e5e5e5;
  width: 270px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 7px;

  outline: none;
  font-size: 15px;
}

.iconn {
  margin-top: 2%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 50px;
  margin-top: 30px;
}

h3 {
  font-size: 17px;
}
h4{
  font-size: 21px;
  margin-top: 5px;
}
h5 {
  font-size: 15px;
  margin-top: 5px;
  
  font-weight: 800;
}

.weather {
  display: flex;
  justify-content: space-between;
}

.rise {
  margin-top: 5%;

  width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-radius: 8px;
  border-style: inset;
  border-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.set {
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-radius: 8px;
  border-style: inset;
  border-color: rgb(255, 255, 255);
}
.sicon {
  margin-right: 10px;
}

.mid {
  margin: 30px 0;
}

.up {
  margin: 30px 0;
}

hr {
  height: 1px;
  background-color: rgb(255, 255, 255);
}

.description {
  width: 50px;
  text-transform: capitalize;
}

.second {
  color: #aeaeae;
  font-size: 14px;
}
.middle {
 
  padding: 40px;
  width: 100%;
  color: black;
  
}

.information{

  width: 90%;
  padding: 20px;
background-color: #f0f0f0;
  margin-top: 2%;
  display: flex;
  box-shadow: -10px 0px 0px -1px rgb(8, 58, 0);
  
  border-radius: 12px;
}

.max-min{
  display: flex;
  
  justify-content: space-around;
  margin-top: 5%;
  width: 96%;

}

.third{
  display: flex;
 
  justify-content: space-between;
  margin-top: 7%;
  width: 92.5%;
  margin-left: 20px;

}

.speed{

  background-color: #f0f0f0;
 
  width: 450px;
  padding: 20px;
  box-shadow: 0px -5px 0px 0px rgb(203, 125, 0);
  
  border-radius: 8px;
}

.feel{

  background-color: #f0f0f0;
 
  width: 200px;
  padding: 20px;
  box-shadow: 0px -5px 0px 0px rgb(13, 0, 255);
  
  border-radius: 8px;
}

.humidity{
  background-color: #f0f0f0;
 
  width: 200px;
  padding: 20px;
  box-shadow: 0px -5px 0px 0px rgb(24, 0, 77);
  
  border-radius: 8px;

}


.max{
  background-color: #f0f0f0;
 
  width: 450px;
  padding: 20px;
  box-shadow: 0px -5px 0px 0px rgb(255, 74, 74);
  
  border-radius: 8px;
}
.min{

  background-color: #f0f0f0;
  width: 450px;
  padding: 20px;
  box-shadow: 0px -5px 0px 0px rgb(38, 84, 0);
  
  border-radius: 8px;
  
}

.last-upd{
  font-size: 13px;
  color: #aeaeae;
  font-weight: 700;
}